{% load static %}
{% load js %}
{% load i18n %}

<div class="container">
    <div class="border p-3">
        <div class="row">
            <div class="col-sm">
                <strong>{% trans "Other Model" %}</strong> 
                <br/> <br/>
                <select id="model-gap-select" style="width: 80%">
                    <option value="">----</option>
                </select>
            </div>
            <div class="col-sm">
                <fieldset>
                    <legend>{% trans "Filters" %}</legend>
                    
                    <div>
                        <input type="checkbox" id="model-gap-filter-instances" name="model-gap-filter" value="instances" checked>
                        <label for="model-gap-filter-instances">{% trans "Instances" %}</label>
                    </div>

                    <div>
                        <input type="checkbox" id="model-gap-filter-slots" name="model-gap-filter" value="slots" checked>
                        <label for="model-gap-filter-slots">{% trans "Slots" %}</label>
                    </div>

                    <div>
                        <input type="checkbox" id="model-gap-filter-predicates" name="model-gap-filter" value="predicates">
                        <label for="model-gap-filter-predicates">{% trans "Predicates" %}</label>
                    </div>

                    <div>
                        <input type="checkbox" id="model-gap-filter-concepts" name="model-gap-filter" value="concepts">
                        <label for="model-gap-filter-concepts">{% trans "Concepts" %}</label>
                    </div>

                    <div>
                        <input type="checkbox" id="model-gap-filter-relations" name="model-gap-filter" value="relations">
                        <label for="model-gap-filter-relations">{% trans "Relations" %}</label>
                    </div>

                </fieldset>
            </div>
        </div>
        <div class="text-center">
            <input id="gap-analysis-btn" class="btn btn-primary" type="button" value="{% trans 'Analyze' %}" />
        </div>
    </div>

    <div id="model-gap" style="min-width: 700px"></div>
</div>


<script>
    var models = {};
    const currentModelId = window.location.pathname.split('/')[3];

    async function getModelsData() {
        try {
            const data = await $.ajax({
                url: '/o_model/json_list/',
                type: 'GET',
                dataType: 'json',
            })
            models = data;
            addModelsToSelect(models);
            return data;
        } catch (error) {
            console.error("Error: ", error);
        }
    }

    function addModelsToSelect(models) {
        const select = document.getElementById('model-gap-select');

        for (const [model_id, model] of Object.entries(models)) {
            if (model.id != currentModelId) {
                const option = document.createElement('option');
                option.value = model.id;
                option.text = model.name;
                select.appendChild(option);
            }
        }
    }

    $('#gap-analysis-btn').on('click', function() {
       debounce(analyze_gap());
    });

</script>

<script>
    async function analyze_gap() {
        if (! $('#model-gap-select').val()){
            return
        }

        $("#gap-analysis-btn").attr("disabled", true);

        var selected_filters = [];
        $("input:checkbox[name='model-gap-filter']:checked").each(function(){
            selected_filters.push($(this).val());
        });

      const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
      try {
          const result_data = await $.ajax({
              url: '/o_model/' + modelId +'/gap_analysis/',
              type: 'POST',
              headers: {'X-CSRFToken': csrftoken},
              contentType : 'application/json',
              success: function (result) {
                build_gap_analysis_results(result);
                $("#gap-analysis-btn").attr("disabled", false);
              },
              data: JSON.stringify({
                'model_1_id': modelId, 
                'model_2_id': $('#model-gap-select').val(),
                'filters': selected_filters
              })
          });
          return result_data;
      } catch (error) {
        $("#gap-analysis-btn").attr("disabled", false);
          console.error("Error: ", error);
      }
    }

    
    function build_gap_analysis_results(results){

        var modelGap = document.getElementById('model-gap');
        // create the table
        const table = document.createElement('table');
        table.className = "table table-striped table-bordered table-hover table-sm";

        // create the table head
        var tableHead = document.createElement("thead");
        var tableHeadRow = document.createElement("tr");

        // create the first cell of the table head
        var tableHeadCell = document.createElement("th");
        tableHeadCell.innerHTML = "Models";
        tableHeadRow.appendChild(tableHeadCell);

        // add column names
        var tableHeadCell = document.createElement("th");
        tableHeadCell.innerHTML = results['model_1'].name + ' ' + results['model_1'].version;
        tableHeadRow.appendChild(tableHeadCell);

        var tableHeadCell = document.createElement("th");
        tableHeadCell.innerHTML = results['model_2'].name+ ' ' + results['model_2'].version;
        tableHeadRow.appendChild(tableHeadCell);


        // create the table body
        var tableBody = document.createElement("tbody");

        for (const [criterion, compare_data] of Object.entries(results['results'])){
            var index = 0;
            var max_rows = compare_data.length;
            for (const item of compare_data){

                var tableBodyRow = document.createElement("tr");

                if (index == 0){
                    var tableBodyRowCell = document.createElement("td");
                    tableBodyRowCell.innerHTML = criterion.charAt(0).toUpperCase() + criterion.slice(1);
                    tableBodyRowCell.setAttribute("rowspan", "" + max_rows);
                    tableBodyRow.appendChild(tableBodyRowCell);
                }
                
                var tableBodyFirstRowCell = document.createElement("td");
                tableBodyFirstRowCell.setAttribute("style","white-space:pre-wrap; word-wrap:break-word");
                var cell_text = ""
                var cell_url = ""
                if (item[0]){
                    cell_text = item[0].name;
                    cell_url = ''; //url coming
                }
                var tableBodyFirstRowCellLink = document.createElement("a");
                tableBodyFirstRowCellLink.title = cell_text; 
                tableBodyFirstRowCellLink.href = cell_url;
                tableBodyFirstRowCellLink.className += " link-dark";
                tableBodyFirstRowCellLink.appendChild(document.createTextNode(cell_text))
                tableBodyFirstRowCell.appendChild(tableBodyFirstRowCellLink);
                tableBodyRow.appendChild(tableBodyFirstRowCell);

                var tableBodySecondRowCell = document.createElement("td");
                tableBodySecondRowCell.setAttribute("style","white-space:pre-wrap; word-wrap:break-word");
                var cell_text = ""
                var cell_url = ""
                if (item[1]){
                    cell_text = item[1].name;
                    cell_url = '';
                }
                var tableBodySecondRowCellLink = document.createElement("a");
                tableBodySecondRowCellLink.title = cell_text; 
                tableBodySecondRowCellLink.href = cell_url;
                tableBodySecondRowCellLink.className += " link-dark";
                tableBodySecondRowCellLink.appendChild(document.createTextNode(cell_text))
                tableBodySecondRowCell.appendChild(tableBodySecondRowCellLink);
                tableBodyRow.appendChild(tableBodySecondRowCell);

                tableBody.appendChild(tableBodyRow);
                index = index + 1;
                
            }
        }

        tableHead.appendChild(tableHeadRow);
        table.appendChild(tableHead);
        table.appendChild(tableBody);

        modelGap.innerHTML = '';
        modelGap.appendChild(table);
    }

    $(document).ready(function(){
        getModelsData();
    });
</script>
