<table class="table table-fluid">
    <thead>
        <tr>
            <th>Model</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for OModel in object_list %}
        <tr>
            <td><a class="link-dark" href="{% url "o_model_detail" OModel.id %}">{{ OModel.name }} {{ OModel.version }}</a></td>
            <td><a href="{% url "o_model_update" OModel.id %}">edit</a></td>
            <td><a href="{% url "o_model_delete" OModel.id %}">delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
