{% load static %}
{% load i18n %}
{% load js %}
{% load i18n %}

<script type="text/javascript" src="{% static '/js/vis-data.min.js' %}"></script>
<script type="text/javascript" src="{% static '/js/vis-network.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static '/css/vis-network.min.css' %}" />
<!-- You may include other packages like Vis Timeline or Vis Graph3D here. -->


<div class="container">
    <div class="row">
      <div class="col-sm">
        <div>
          <strong>{% trans "Concepts" %}</strong>
          <br>
          <em>All: </em>
          <input type="checkbox" onClick="toggle_checkbox(this, 'diagram-concepts', all_concepts)"/><br/>
          <select id="diagram-concepts" multiple="multiple" style="width: 100%"></select>
          
          <br/><br/>

          <strong>{% trans "Relations" %}</strong>
          <br>
          <em>All: </em>
          <input type="checkbox" onClick="toggle_checkbox(this, 'diagram-concepts-relations', all_relations)"/><br/>
          <select id="diagram-concepts-relations" multiple="multiple" style="width: 100%"></select>

        </div>
        <div></div>
      </div>
      <div class="col-lg">
        <div id="metamodel" style="height:700px; width:800px;"></div>
      </div>
    </div>
</div>


<script type="text/javascript">
  var ontology_data = {{ ontology_data | safe }};
  // create an array with nodes
  var ontology_dataset_nodes = [];
  var ontology_dataset_edges = [];
  var concepts = {};
  var relations = {};

  var all_concepts = [];
  var all_relations = [];

  for (const [concept_id, concept] of Object.entries(ontology_data['concepts'])){
    ontology_dataset_nodes.push({id: concept_id, label:concept.name, concept_id: concept.id, physics: false, shape: "box", color: "rgba(230,230,230,0.9)", margin: 15 });
    concepts[concept_id] = concept.name;
    all_concepts.push(concept_id);
  }
  for (const [predicate_id, predicate] of Object.entries(ontology_data['predicates'])){
        ontology_dataset_edges.push({from: predicate.subject_id, to: predicate.object_id, relation_id: predicate.relation_id, arrows: "to", label: predicate.relation, physics: false, smooth: { type: "horizontal" }, color: "rgba(150,150,150,0.5)", arrowStrikethrough: false});
        relations[predicate.relation_id] = predicate.relation;
        all_relations.push(predicate.relation_id);
  }

  // add concepts to the concept select
  var diagramConcepts = document.getElementById('diagram-concepts');
  
  for (const [concept_id, concept] of Object.entries(concepts)){
    var option = document.createElement("option");
    option.value = concept_id;
    option.text = concept;
    diagramConcepts.appendChild(option);
  }

  // add relations to the relation select
  var diagramConceptsRelations = document.getElementById('diagram-concepts-relations');

  for (const [relation_id, relation] of Object.entries(relations)){
    var option = document.createElement("option");
    option.value = relation_id;
    option.text = relation;
    diagramConceptsRelations.appendChild(option);
  }
  
  const concepts_filter = (node) => {
    var selectedConcepts = $('#diagram-concepts').val();
    if (selectedConcepts){
      return selectedConcepts.includes(node.concept_id.toString());
    }
    return false;
  };

  const concepts_relations_filter = (edge) => {
    var selectedRelations = $('#diagram-concepts-relations').val();
    if (selectedRelations){
      return selectedRelations.includes(edge.relation_id.toString());
    }
    return false;
  };

  // create a network
  const ontology_nodes_view = new vis.DataView(new vis.DataSet(ontology_dataset_nodes), { filter: concepts_filter });
  const ontology_edges_view = new vis.DataView(new vis.DataSet(ontology_dataset_edges), { filter: concepts_relations_filter });

  var network_concepts = new vis.Network(
    document.getElementById("metamodel"),
    {
      nodes: ontology_nodes_view,
      edges: ontology_edges_view
    }, 
    {});

  $('#diagram-concepts').on('change', function() {
    ontology_nodes_view.refresh();
  });

  $('#diagram-concepts-relations').on('change', function() {
    ontology_edges_view.refresh();
  });

</script>

<script type="text/javascript">
  function toggle_checkbox(source, select_id, all_options){
    if (source.checked){
      $('#'+select_id).val(all_options).trigger('change');
    }
    else{
      $('#'+select_id).val(null).trigger('change');
    }
  }
</script>