<table class="table table-fluid">
    <thead>
        <tr>
            <th>Tag Group</th>
            <th>Description</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for TagGroup in object_list %}
        <tr>
            <td><a class="link-dark" href="{% url "tag_group_detail" TagGroup.id %}">{{ TagGroup }}</a></td>
            <td>{{ TagGroup.description }}</td>
            <td><a href="{% url "tag_group_update" TagGroup.id %}">edit</a></td>
            <td><a href="{% url "tag_group_delete" TagGroup.id %}">delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>