<table class="table table-fluid" id="table-concepts">
    <thead>
        <tr>
            <th>Configuration</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for Configuration in object_list %}
        <tr>
            <td><a class="link-dark" href="{% url "configuration_detail" Configuration.id %}">{{ Configuration.name }}</a></td>
            <td>{{ Configuration.content }}</td>
            <td><a href="{% url "configuration_update" Configuration.id %}">edit</a></td>
            <td><a href="{% url "configuration_delete" Configuration.id %}">delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
