{% extends 'layout.html' %}
{% load crispy_forms_tags %}

{% block content %}
<h2 class="form-title">Permission</h2>

<table class="table table-fluid">
    <thead>
        <tr>
            <th>Permission</th>
            <th>Organisation</th>
            <th>View</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for Permission in object_list %}
        <tr>
            <td>{{ Permission }}</td>
            <td><a href="{% url "organisation_detail" Permission.organisation.id %}">{{ Permission.organisation.name }}</a></td>
            <td><a href="{% url "permission_detail" Permission.id %}">view</a></td>
            <td><a href="{% url "permission_update" Permission.id %}">edit</a></td>
            <td><a href="{% url "permission_delete" Permission.id %}">delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url "permission_create_user" user_id=user.id %}">New</a>

{% endblock content %}
