{% extends 'layout.html' %}
{% load crispy_forms_tags %}

{% block content %}
<h2>{{object.name}} (Profile)</h2>
<p>{{object.description}}</p>
<p>{{object.organisation.name}}</p>
{% endblock content %}

<hr/>
<table class="table table-fluid">
    <thead>
        <tr>
            <th>Security Group</th>
            <th>Description</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for security_group in object.security_groups %}
        <tr>
            <td><a class="link-dark" href="{% url "o_security_group_detail" security_group.id %}">{{ security_group.name }}</a></td>
            <td>{{ security_group.description }}</td>
            <td><a href="{% url "o_security_group_update" security_group.id %}">edit</a></td>
            <td><a href="{% url "o_security_group_delete" security_group.id %}">delete</a></td>
        </tr>
        {% endfor %}
    </tbody>