{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block page %}
<div class="container-fluid px-5 py-4">
    <header>
      <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
            <img width="36px" height="36px" src="{% static '/img/openea.svg' %}"/>
            <span class="fs-4">OpenEA</span>
        </a>

        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
          <span class="me-3 py-2 fs-10 text-dark text-decoration-none" href="#">{{ deployment_type }} {{ openea_version }}</span>
          
          {% include "language_switcher.html" %}
          {% include "user-menu.html" %}

        </nav>
      </div>
    </header>

    <main>
    {% block content %}
    <p>{% trans "Placeholder for page content." %} </p>
    {% endblock content %}
    </main>

    <footer class="pt-4 my-md-5 pt-md-5 border-top">
      <div class="row">
        <div class="col-12 col-md">
          <a href="/" class="d-flex align-items-center text-dark text-decoration-none">{% trans "OpenEA" %}</a> 
          <small class="d-block mb-3 text-muted">&copy; 2017–2023</small>
        </div>
        <div class="col-6 col-md">
          <h5>{% trans "Features" %} </h5>
          <ul class="list-unstyled text-small">
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="/about/features#">{% trans "Web based enterprise architecture tool" %}</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="/about/features#">{% trans "Ontology engine and research tool" %}</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="/about/features#">{% trans "Tailored metamodel for your organisation" %}</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="/about/features#">{% trans "Dynamic visualization" %}</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="/about/features#">{% trans "Custom reports on knowledge base" %}</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="/about/features#">{% trans "Model exchange" %}</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="/about/features#">{% trans "Custom Plugin development" %}</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>{% trans "Resources" %}</h5>
          <ul class="list-unstyled text-small">
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="/about/resources#">{% trans "Documentation" %}</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="/about/resources#">{% trans "Support" %}</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>{% trans "About" %}</h5>
          <ul class="list-unstyled text-small">
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="/about/contact">{% trans "Contact us" %}</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="https://keybase.io/team/openea">{% trans "Team" %}</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="/about/terms#">{% trans "Terms" %}</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="/about/privacy#">{% trans "Privacy Policy" %}</a></li>
          </ul>
        </div>
      </div>
    </footer>

  </div>
{% endblock page %}