{% load i18n %}
<table class="table table-fluid table-hover">
    <thead>
        <tr>
            <th>{% trans "AccessPermission" %}</th>
            <th>{% trans "Organisation" %}</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for accesspermission in object_list %}
        <tr>
            <td><a class="link-dark" href="{% url "accesspermission_detail" accesspermission.id %}">{{ accesspermission.permission.action }} {{ accesspermission.permission.object_type }} {% if accesspermission.object_identifier %} {{ accesspermission.object_identifier }} {% endif %}</a></td>
            <td><a class="link-dark" href="{% url "organisation_detail" accesspermission.organisation.id %}">{{ accesspermission.organisation.name }}</a></td>
            <td><a href="{% url "accesspermission_update" accesspermission.id %}">{% trans "edit" %}</a></td>
            <td><a href="{% url "accesspermission_delete" accesspermission.id %}">{% trans "delete" %}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>