{% extends 'layout.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load mkd %}

{% block content %}
<div class="d-flex flex-column flex-md-row align-items-center pb-2">
    <div>
        <a class="link-dark breadcrumb" href="{% url "o_model_detail" model_id %}" href="#"> ({% trans "Model" %}) {{ object.model.name|truncatechars:15 }} > </a>
        <h2>{{object.name}} ({% trans "Slot" %})</h2>
    </div>
    <div class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
      <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
      </div>
    </div>
  </div>
  
<dl class="row">
    <dt class="col-sm-3">{% trans "Subject" %}</dt>
    <dd class="col-sm-9"><a href="{% url "o_instance_detail" object.subject.id %}">{{object.subject.name}}</a></dd>

    <dt class="col-sm-3">{% trans "Object" %}</dt>
    <dd class="col-sm-9"><a href="{% url "o_instance_detail" object.object.id %}">{{object.object.name}}</a></dd>

    <dt class="col-sm-3">{% trans "Order" %}</dt>
    <dd class="col-sm-9">{{object.order}}</dd>

    <dt class="col-sm-3">{% trans "Description" %}</dt>
    <dd class="col-sm-9">{{object.description | markdown | safe}}</dd>
</dl>

<dl class="row">
    <dt class="col-sm-3 text-muted">{% trans "Created" %}</dt>
    <dd class="col-sm-9 text-muted">{{object.created_at}} - {{object.created_by.username}}</dd>

    <dt class="col-sm-3 text-muted">{% trans "Modified" %}</dt>
    <dd class="col-sm-9 text-muted">{{object.modified_at}} - {{object.modified_by.username}}</dd>
</dl>
{% endblock content %}
