{% extends 'layout.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
<h2 class="form-title">{% trans "Slot" %}</h2>

<table class="table table-fluid table-hover">
    <thead>
        <tr>
            <th>{% trans "Slot" %}</th>
            <th>{% trans "View" %}</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for OSlot in object_list %}
        <tr>
            <td>{{ OSlot }}</td>
            <td><a href="{% url "o_slot_detail" OSlot.id %}">{% trans "view" %}</a></td>
            <td><a href="{% url "o_slot_update" OSlot.id %}">{% trans "edit" %}</a></td>
            <td><a href="{% url "o_slot_delete" OSlot.id %}">{% trans "delete" %}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}
