{% extends 'layout.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="d-flex flex-column flex-md-row align-items-center pb-2">
    <div>
        <a class="link-dark breadcrumb" href="{% url "o_model_detail" model_id %}" href="#"> (Model) {{ object.model.name|truncatechars:15 }} > </a>
        <h2>{{object.name}} (OSlot)</h2>
    </div>
    <div class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
      <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
      </div>
    </div>
  </div>
  

<p>{{object.description}}</p>

<hr>
{% for p, slot_values in inslots.items %}
<ul>
    <li>{{ p.name }}: <div class="mt-3"><a class="btn btn-primary" href="{% url "o_slot_create" instance_id=object.id predicate_id=p.id %}">+ Slot Value</a></div>
        <ul>
            {% for slot_value in slot_values %}
            <li>{{ slot_value.subject.name }}  <a href="{% url "o_slot_update" slot_value.id %}">edit</a> <a href="{% url "o_slot_delete" slot_value.id %}">delete</a></li>
            {% endfor %}
        </ul>
    </li>
</ul>
{% endfor %}
<hr>
{% for p, slot_values in ownslots.items %}
<ul>
    <li>{{ p.name }}: <div class="mt-3"><a class="btn btn-primary" href="{% url "o_slot_create" instance_id=object.id predicate_id=p.id %}">+ Slot Value</a></div>
        <ul>
            {% for slot_value in slot_values %}
            <li>{{ slot_value.object.name }}  <a href="{% url "o_slot_update" slot_value.id %}">edit</a> <a href="{% url "o_slot_delete" slot_value.id %}">delete</a></li>
            {% endfor %}
        </ul>
    </li>
</ul>
{% endfor %}

{% endblock content %}
