{% extends 'layout.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load mkd %}

{% block content %}
<div class="d-flex flex-column flex-md-row align-items-center pb-2">
  <div>
    <a class="link-dark breadcrumb" href="{% url "o_model_detail" model_id %}" href="#"> ({% trans "Model" %}) {{ object.model.name|truncatechars:15 }} > </a>
    <h2>{{object.name}} ({% trans "Predicate" %})</h2>
  </div>
    <div class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
      <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
          <a class="btn btn-secondary" href="{% url "o_predicate_update" object.id %}" class="dropdown-item" href="#">{% trans "Edit" %}</a>
          <a class="btn btn-secondary" href="{% url "o_predicate_delete" object.id %}" class="dropdown-item" href="#">{% trans "Delete" %}</a>
      </div>
    </div>
  </div>

<p>{{object.description | markdown | safe}}</p>
<p>{% trans object.get_quality_status_display %}</p>
<p>{% for tag in object.tags.all %}
  {{ tag.name }} 
{% endfor %}
</p>

<dl class="row">
  <dt class="col-sm-3 text-muted">{% trans "Created" %}</dt>
  <dd class="col-sm-9 text-muted">{{object.created_at}} - {{object.created_by.username}}</dd>

  <dt class="col-sm-3 text-muted">{% trans "Modified" %}</dt>
  <dd class="col-sm-9 text-muted">{{object.modified_at}} - {{object.modified_by.username}}</dd>
</dl>

{% endblock content %}
