{% extends 'layout.html' %}

{% load i18n %}

{% block content %}

Register and provide your username to the admins of the desired organization
The organization admin will be able to link your account to the desired organization by adding  the said account to the appropriate security group.

To display the repositories, click on your user at the top right, then on "Repositories".

Under the "Relations" tab, create at least the relation has the property
Under the "Concepts" tab, start by creating the concepts (boxes), Ex: fruit, color
under the "Ontology" tab, create the Concept-Relation-Concept links, Ex: fruits - has for property - color
You are ready to create the instances.

To create an instance:
Under the "Concepts" tab, select the concept of the instance you want to create
Then click on "New instance", fill in the form and save.

Click on the instance to view it.
You can edit the relationships between instances from the instance view page, Ex: apple - has property - red
You can view all instances under the "Instances" tab

{% endblock content %}